extends ../layout

block content
  .row
    .col-sm-12.col-xs-12
      .panel.panel-default
        .panel-body
           .alert.alert-success(role='alert')
            h4.alert-heading Well done!
            |   
            p
              | Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.
            |   
            hr
            |   
            p.mb-0
              | Whenever you need to, be sure to use margin utilities to keep things nice and tidy.
  .row
    .col-sm-12.col-xs-12
      .row
        .col-sm-6
          .panel.panel-default
            .panel-body
              table.table.table-bordered.table-stripped
                thead
                  tr
                    th Authors Name
                    th Authors Name
                    th Authors Name
                    th Authors Name
                    th Authors Name
                tbody
                  tr
                    td Authors
                    td Authors
                    td Authors
                    td Authors
                    td Authors
        .col-sm-6
          .panel.panel-default
            .panel-body
              p middle
                .row
                  .col-sm-12
                   .jumbotron
                      .col-sm-12
                        h1 Hello, world!
                        p This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
