#sidebar.sidebar.h-sidebar.navbar-collapse.collapse.ace-save-state
      ul.nav.nav-list
        li.hover
          a(href='/')
            i.menu-icon.fa.fa-tachometer
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            span.menu-text  Dashboard 
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          b.arrow
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        li.open.hover
          a.dropdown-toggle(href='#')
            i.menu-icon.fa.fa-desktop
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            span.menu-text
              | Order &amp; Order
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            b.arrow.fa.fa-angle-down
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          b.arrow
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          ul.submenu
            li.active.open.hover
              a.dropdown-toggle(href='#')
                i.menu-icon.fa.fa-caret-right
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Orders
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                b.arrow.fa.fa-angle-down
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              b.arrow
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              ul.submenu
                li.active.hover
                  a(href='/authors')
                    i.menu-icon.fa.fa-caret-right
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Orders
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  b.arrow
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            li.hover
              a(href='typography.html')
                i.menu-icon.fa.fa-caret-right
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Typography
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              b.arrow
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            li.hover
              a.dropdown-toggle(href='#')
                i.menu-icon.fa.fa-caret-right
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Three Level Menu
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                b.arrow.fa.fa-angle-down
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              b.arrow
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              ul.submenu
                li.hover
                  a(href='#')
                    i.menu-icon.fa.fa-leaf.green
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Item #1
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  b.arrow
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li.hover
                  a.dropdown-toggle(href='#')
                    i.menu-icon.fa.fa-pencil.orange
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;4th level
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    b.arrow.fa.fa-angle-down
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  b.arrow
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  ul.submenu
                    li.hover
                      a(href='#')
                        i.menu-icon.fa.fa-plus.purple
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Add Product
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      b.arrow
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    li.hover
                      a(href='#')
                        i.menu-icon.fa.fa-eye.pink
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;View Products
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      b.arrow
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        li.hover
          a.dropdown-toggle(href='#')
            i.menu-icon.fa.fa-list
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            span.menu-text  Products 
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            b.arrow.fa.fa-angle-down
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          b.arrow
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          ul.submenu
            li.hover
              a(href='/products/create')
                i.menu-icon.fa.fa-caret-right
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Product &amp; Create
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              b.arrow
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            li.hover
              a(href='/products')
                i.menu-icon.fa.fa-caret-right
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Management Products
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              b.arrow
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        li.hover
          a.dropdown-toggle(href='#')
            i.menu-icon.fa.fa-pencil-square-o
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            span.menu-text  Forms 
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            b.arrow.fa.fa-angle-down
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          b.arrow
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          ul.submenu
            li.hover
              a(href='form-elements.html')
                i.menu-icon.fa.fa-caret-right
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Form Elements
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              b.arrow
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            li.hover
              a(href='form-elements-2.html')
                i.menu-icon.fa.fa-caret-right
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Form Elements 2
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              b.arrow
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            li.hover
              a(href='form-wizard.html')
                i.menu-icon.fa.fa-caret-right
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Wizard &amp; Validation
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              b.arrow
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            li.hover
              a(href='wysiwyg.html')
                i.menu-icon.fa.fa-caret-right
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Wysiwyg &amp; Markdown
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              b.arrow
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            li.hover
              a(href='dropzone.html')
                i.menu-icon.fa.fa-caret-right
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Dropzone File Upload
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              b.arrow
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        li.hover
          a(href='widgets.html')
            i.menu-icon.fa.fa-list-alt
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            span.menu-text  Widgets 
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          b.arrow
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        li.hover
          a(href='calendar.html')
            i.menu-icon.fa.fa-calendar
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            span.menu-text
              | Calendar
              span.badge.badge-transparent.tooltip-error(title='2 Important Events')
                i.ace-icon.fa.fa-exclamation-triangle.red.bigger-130
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          b.arrow
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        li.hover
          a(href='gallery.html')
            i.menu-icon.fa.fa-picture-o
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            span.menu-text  Gallery 
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          b.arrow
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
        | &#x9;&#x9;&#x9;&#x9;&#x9;
      // /.nav-list
