#navbar.navbar.navbar-default.navbar-collapse.h-navbar.ace-save-state
    #navbar-container.navbar-container.ace-save-state
        .navbar-header.pull-left
          a.navbar-brand(href='/')
            small
              i.fa.fa-leaf
              | &#x9;&#x9;&#x9;&#x9;&#x9;Invetory-Apps
          |             
          button.pull-right.navbar-toggle.navbar-toggle-img.collapsed(type='button', data-toggle='collapse', data-target='.navbar-buttons,.navbar-menu')
            span.sr-only Toggle user menu
            | &#x9;&#x9;&#x9;&#x9;
            img(src='/ace-master/assets/images/avatars/user.jpg', alt="Jason's Photo")
        |         
        .navbar-buttons.navbar-header.pull-right.collapse.navbar-collapse(role='navigation')
          ul.nav.ace-nav
            li.transparent.dropdown-modal
              a.dropdown-toggle(data-toggle='dropdown', href='#')
                i.ace-icon.fa.fa-bell.icon-animated-bell
              |                     
              .dropdown-menu-right.dropdown-navbar.dropdown-menu.dropdown-caret.dropdown-close
                .tabbable
                  ul.nav.nav-tabs
                    li.active
                      a(data-toggle='tab', href='#navbar-tasks')
                        | Tasks
                        span.badge.badge-danger 4
                    |                                 
                    li
                      a(data-toggle='tab', href='#navbar-messages')
                        | Messages
                        span.badge.badge-danger 5
                  // .nav-tabs
                  .tab-content
                    #navbar-tasks.tab-pane.in.active
                      ul.dropdown-menu-right.dropdown-navbar.dropdown-menu
                        li.dropdown-content
                          ul.dropdown-menu.dropdown-navbar
                            li
                              a(href='#')
                                .clearfix
                                  span.pull-left Software Update
                                  |                                                             
                                  span.pull-right 65%
                                |                                                         
                                .progress.progress-mini
                                  .progress-bar(style='width:65%')
                            |                                                 
                            li
                              a(href='#')
                                .clearfix
                                  span.pull-left Hardware Upgrade
                                  |                                                             
                                  span.pull-right 35%
                                |                                                         
                                .progress.progress-mini
                                  .progress-bar.progress-bar-danger(style='width:35%')
                            |                                                 
                            li
                              a(href='#')
                                .clearfix
                                  span.pull-left Unit Testing
                                  |                                                             
                                  span.pull-right 15%
                                |                                                         
                                .progress.progress-mini
                                  .progress-bar.progress-bar-warning(style='width:15%')
                            |                                                 
                            li
                              a(href='#')
                                .clearfix
                                  span.pull-left Bug Fixes
                                  |                                                             
                                  span.pull-right 90%
                                |                                                         
                                .progress.progress-mini.progress-striped.active
                                  .progress-bar.progress-bar-success(style='width:90%')
                        |                                         
                        li.dropdown-footer
                          a(href='#')
                            | See tasks with details
                            i.ace-icon.fa.fa-arrow-right
                    // /.tab-pane
                    #navbar-messages.tab-pane
                      ul.dropdown-menu-right.dropdown-navbar.dropdown-menu
                        li.dropdown-content
                          ul.dropdown-menu.dropdown-navbar
                            li
                              a(href='#')
                                img.msg-photo(src='/ace-master/assets/images/avatars/avatar.png', alt="Alex's Avatar")
                                |                                                         
                                span.msg-body
                                  span.msg-title
                                    span.blue Alex:
                                    |  Ciao sociis natoque penatibus et auctor ...
                                  |                                                         
                                  span.msg-time
                                    i.ace-icon.fa.fa-clock-o
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    span a moment ago
                            |                                                 
                            li
                              a(href='#')
                                img.msg-photo(src='/ace-master/assets/images/avatars/avatar3.png', alt="Susan's Avatar")
                                |                                                         
                                span.msg-body
                                  span.msg-title
                                    span.blue Susan:
                                    |  Vestibulum id ligula porta felis euismod ...
                                  |                                                         
                                  span.msg-time
                                    i.ace-icon.fa.fa-clock-o
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    span 20 minutes ago
                            |                                                 
                            li
                              a(href='#')
                                img.msg-photo(src='/ace-master/assets/images/avatars/avatar4.png', alt="Bob's Avatar")
                                |                                                         
                                span.msg-body
                                  span.msg-title
                                    span.blue Bob:
                                    |  Nullam quis risus eget urna mollis ornare ...
                                  |                                                         
                                  span.msg-time
                                    i.ace-icon.fa.fa-clock-o
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    span 3:15 pm
                            |                                                 
                            li
                              a(href='#')
                                img.msg-photo(src='/ace-master/assets/images/avatars/avatar2.png', alt="Kate's Avatar")
                                |                                                         
                                span.msg-body
                                  span.msg-title
                                    span.blue Kate:
                                    |  Ciao sociis natoque eget urna mollis ornare ...
                                  |                                                         
                                  span.msg-time
                                    i.ace-icon.fa.fa-clock-o
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    span 1:33 pm
                            |                                                 
                            li
                              a(href='#')
                                img.msg-photo(src='/ace-master/assets/images/avatars/avatar5.png', alt="Fred's Avatar")
                                |                                                         
                                span.msg-body
                                  span.msg-title
                                    span.blue Fred:
                                    |  Vestibulum id penatibus et auctor ...
                                  |                                                         
                                  span.msg-time
                                    i.ace-icon.fa.fa-clock-o
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    span 10:09 am
                        |                                         
                        li.dropdown-footer
                          a(href='inbox.html')
                            | See all messages
                            i.ace-icon.fa.fa-arrow-right
                    // /.tab-pane
                  // /.tab-content
                // /.tabbable
              // /.dropdown-menu
            |                 
            li.light-blue.dropdown-modal.user-min
              a.dropdown-toggle(data-toggle='dropdown', href='#')
                img.nav-user-photo(src='/ace-master/assets/images/avatars/user.jpg', alt="Jason's Photo")
                |                         
                span.user-info
                  small Welcome,
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Jason
                |                         
                i.ace-icon.fa.fa-caret-down
              |                     
              ul.user-menu.dropdown-menu-right.dropdown-menu.dropdown-yellow.dropdown-caret.dropdown-close
                li
                  a(href='#')
                    i.ace-icon.fa.fa-cog
                    |  Settings
                |                         
                li
                  a(href='profile.html')
                    i.ace-icon.fa.fa-user
                    |  Profile
                |                         
                li.divider
                |                         
                li
                  a(href="{{  route('auth.logout') }}")
                    i.ace-icon.fa.fa-power-off
                    |  Logout
        |         
        nav.navbar-menu.pull-left.collapse.navbar-collapse(role='navigation')
          ul.nav.navbar-nav
            li
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Overview
                i.ace-icon.fa.fa-angle-down.bigger-110
              |                     
              ul.dropdown-menu.dropdown-light-blue.dropdown-caret
                li
                  a(href='#')
                    i.ace-icon.fa.fa-eye.bigger-110.blue
                    |  Monthly Visitors
                |                         
                li
                  a(href='#')
                    i.ace-icon.fa.fa-user.bigger-110.blue
                    |  Active Users
                |                         
                li
                  a(href='#')
                    i.ace-icon.fa.fa-cog.bigger-110.blue
                    |  Settings
            |                 
            li
              a(href='#')
                i.ace-icon.fa.fa-envelope
                |  Messages
                |                         
                span.badge.badge-warning 5
          |             
          form.navbar-form.navbar-left.form-search(role='search')
            .form-group
              input(type='text', placeholder='search')
            |                 
            button.btn.btn-mini.btn-info2(type='button')
              i.ace-icon.fa.fa-search.icon-only.bigger-110
      // /.navbar-container
