extends ../layout

block content
    .container
            .row
                .col-sm-12.col-xs-12
                    .panel.panel-default
                        .panel-body
                            .pull-right
                                a(href="/employees", class="btn btn-sm btn-info") Back Employees
                            p Employee Views Create
                            include ./form.jade