extends ../layout

block content
    .row
        .col-sm-12
            .panel-header Edit Employee
            .panel.panel-default
                .panel.body
                    .row
                        .col-sm-12
                            form(action="/employees/update/"+employee.id, method="post")
                                .col-sm-6
                                    .form-group
                                        label(for="") First Name
                                        input(type="text", class="form-control", name="first_name", placeholder="First Name", value=employee.first_name required)
                                    .form-group
                                        label(for="") Last Name
                                        input(type="text", class="form-control", name="last_name", placeholder="Last Name",value=employee.last_name  required)
                                .col-sm-6
                                    .form-group
                                        label(for="") Age
                                        input(type="number", class="form-control", name="age", placeholder="Age", value=employee.age  required)
                                    .form-group
                                        label(for="") Phone
                                        input(type="number", class="form-control", name="phone", placeholder="Phone", value=employee.phone  required)
                                .col-sm-12
                                    .form-group
                                        label(for="") Address Employee
                                        input(cols="210", rows="10", name="address", class="form-control" placeholder="Address", value=employee.address required)
                                .col-sm-12
                                    .pull-right
                                        .form-group
                                            input(type="submit", value="Save Employee", class="btn btn-sm btn-primary")
                                    .pull-left    
                                        .form-group
                                            a(href="/employees", class="btn btn-sm btn-warning") Back Employee