.row
    .col-sm-12
        form(action="/employees/store", method="post")
            .col-sm-6
                .form-group
                    label(for="") First Name
                    input(type="text", class="form-control", name="first_name", placeholder="First Name", required)
                .form-group
                    label(for="") Last Name
                    input(type="text", class="form-control", name="last_name", placeholder="Last Name", required)
            .col-sm-6
                .form-group
                    label(for="") Age
                    input(type="number", class="form-control", name="age", placeholder="Age", required)
                .form-group
                    label(for="") Phone
                    input(type="number", class="form-control", name="phone", placeholder="Phone", required)
            .col-sm-12
                .form-group
                    label(for="") Address Employee
                    textarea(cols="210", rows="10", name="address", class="form-control" placeholder="Address", required)
            .col-sm-12
                .pull-right
                    .form-group
                        input(type="submit", value="Save Employee", class="btn btn-sm btn-primary")