extends ../layout
block content
    .row
        .col-sm-12.col-xs-12
            .panel.panel-default
                .panel-body
                    .pull-right
                        p Employee
                        a(href="/employees/create", class="btn btn-sm btn-primary", style="margin-bottom: 10px;") Add Employee
                    //- p INdex Employees
                    .pull-left
                        p List
                        a(href="/", class="btn btn-sm btn-info") Back Dashboard
                     table.table.table-bordered
                        thead
                            tr
                                th ID
                                th First Name
                                th Last Name
                                th Address
                                th Age
                                th Phone
                                th(colspan="3", width="2%;") Action
                        tbody
                        for row in employees
                            tr
                                td=row.id
                                td=row.first_name
                                td=row.last_name
                                td=row.address
                                td=row.age
                                td=row.phone
                                td
                                    a(href="/employees/show/"+row.id, class="btn btn-sm btn-info") show
                                td
                                    a(href="/employees/edit/"+row.id class="btn btn-sm btn-success") edit
                                td
                                    a(href="/employees/delete/"+row.id class="btn btn-sm btn-danger") delete