extends ../layout

block content
    .row
        .col-sm-12.col-xs-12
            .panel.panel-default
                .panel-body
                    .row
                        .col-sm-12
                            .profile-user-info
                                .profile-info-row
                                    .profile-info-name Product Code
                                    .profile-info-value #{employee.id}
                                .profile-info-row
                                    .profile-info-name Product Code
                                    .profile-info-value #{employee.first_name}
                                .profile-info-row
                                    .profile-info-name Product Code
                                    .profile-info-value #{employee.last_name}
                                .profile-info-row
                                    .profile-info-name Product Code
                                    .profile-info-value #{employee.age}
                                .profile-info-row
                                    .profile-info-name Product Code
                                    .profile-info-value #{employee.phone}
                                .profile-info-row    
                                    .profile-info-name Product Code
                                    .profile-info-value #{employee.address}
                                    
            .pull-right
                .form-group
                    a(href="/employees", class="btn btn-sm btn-warning") Back