doctype html
html
  head
    title= title
    meta( charset='utf-8')
    meta( http-equiv='X-UA-Compatible', content='IE=edge' )
    meta( name='viewport', content='width=device-width, initial-scale=1.0' )
    meta( name='description', content='Baking Bootstrap Snippets with Jade' )
    //- link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/ace-master/assets/css/bootstrap.min.css")
    link(rel="stylesheet", href="/ace-master/assets/font-awesome/4.5.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="/ace-master/assets/css/fonts.googleapis.com.css")
    link(rel="stylesheet", href="/ace-master/assets/css/jquery-ui.min.css")
    link(rel="stylesheet", href="/ace-master/assets/css/bootstrap-datepicker3.min.css")
    link(rel="stylesheet", href="/ace-master/assets/css/ui.jqgrid.min.css")
    link(rel="stylesheet", href="/ace-master/assets/css/ace.min.css")
    link(rel="stylesheet", href="/ace-master/assets/css/ace-skins.min.css")
    link(rel="stylesheet", href="/ace-master/assets/css/ace-rtl.min.css")
    link(rel="stylesheet", href="/ace-master/assets/css/editable.css")
    script(src="/ace-master/assets/js/ace-extra.min.js")
    link(rel="stylesheet", href="/ace-master/assets/css/select2.min.css")
    link(rel="stylesheet", href="/ace-master/assets/css/dropzone.min.css")
    link(rel="stylesheet", href="/ace-master/assets/css/pagination.css")
    link(rel="stylesheet", href="/ace-master/assets/css/custome.css")
    link(rel="stylesheet", href="/ace-master/assets/css/boostrap-select2.css")
  body.no-skin
    include ./layouts/navbar.jade    
    include ./layouts/menu.jade
    #main-container.main-container.ace-save-state
      script(type='text/javascript').
        try {
        ace.settings.loadState("main-container");
        } catch (e) {}
      .main-content
        .main-content-inner
          .page-content
            #ace-settings-container.ace-settings-container
            block content
      .footer
        .footer-inner
          .footer-content
            span.bigger-120
              span.blue.bolder Ace
      a#btn-scroll-up.btn-scroll-up.btn.btn-sm.btn-inverse(href='#')
        i.ace-icon.fa.fa-angle-double-up.icon-only.bigger-110

    block scripts
      script(src="/ace-master/assets/js/jquery-2.1.4.min.js")
      script(src="/ace-master/assets/js/bootstrap.min.js")
      script(src="/ace-master/assets/js/jquery-ui.custom.min.js")
      script(src="/ace-master/assets/js/jquery.ui.touch-punch.min.js")
      script(src="/ace-master/assets/js/jquery.easypiechart.min.js")
      script(src="/ace-master/assets/js/jquery.sparkline.index.min.js")
      script(src="/ace-master/assets/js/jquery.flot.min.js")
      script(src="/ace-master/assets/js/jquery.flot.pie.min.js")
      script(src="/ace-master/assets/js/jquery.flot.resize.min.js")
      script(src="/ace-master/assets/js/bootstrap-datepicker.min.js")
      script(src="/ace-master/assets/js/jquery.jqGrid.min.js")
      script(src="/ace-master/assets/js/grid.locale-en.js")
      script(src="/ace-master/assets/js/jquery.dataTables.min.js")
      script(src="/ace-master/assets/js/jquery.dataTables.bootstrap.min.js")
      script(src="/ace-master/assets/js/dataTables.buttons.min.js")
      script(src="/ace-master/assets/js/ace-elements.min.js")
      script(src="/ace-master/assets/js/ace.min.js")
      script(src="/ace-master/assets/js/moment.js")
      script(src="/ace-master/assets/js/editable.js")
      script(src="/ace-master/assets/js/dropzone.min.js")
      script(src="/ace-master/assets/js/select2.min.js")
      script(src="/ace-master/assets/js/autoNumeric/autoNumeric.js")
      script(src="/ace-master/assets/js/pagination.min.js")
      script(src="/ace-master/assets/js/nested_form.js")
      script(src="/ace-master/assets/js/JsBarcode.all.min.js")