body {
  padding: 1px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow: hidden;
}

a {
  color: #00B7FF;
}

table, th, td {
  border: 1px solid black;
}

.profile-user-info {
    display: table;
    width: 98%;
    width: calc(100% - 24px);
    margin: 0 auto
  }
  
  .profile-info-row {
    display: table-row
  }
  
  .profile-info-name,
  .profile-info-value {
    display: table-cell;
    border-top: 1px dotted #D5E4F1
  }
  
  .profile-info-name {
    text-align: right;
    padding-top: 6px;
    font-weight: 400;
    color: #667E99;
    background-color: transparent;
    width: 110px;
    vertical-align: middle
  }
  
  .profile-info-value {
    padding: 6px 20px 6px 30px
  }
  
  .profile-info-value>span+span:before {
    display: inline;
    content: ",";
    margin-left: 1px;
    margin-right: 3px;
    color: #666;
    border-bottom: 1px solid #FFF
  }
  
  .profile-info-value>span+span.editable-container:before {
    display: none
  }
  
  .profile-info-row:first-child .profile-info-name,
  .profile-info-row:first-child .profile-info-value {
    border-top: none
  }