    .scrollit {
        overflow: scroll;
        height: 300px;
        overflow-x: hidden;
    }
    
    .scrollit-product {
        overflow: scroll;
        height: 100%;
        overflow-x: hidden;
    }
    
    .tab-content1 {
        height: 490px;
    }
    
    .tab-content2 {
        height: 480px;
    }
    
    .tab-order-detail {
        height: 400px;
    }
    
    .tab-content-paid {
        height: 250px;
    }
    
    .desc {
        text-align: center
    }
    
    .bold {
        font-weight: bold;
        font-size: 14px;
    }
    
    .input-search {
        width: 100%;
    }
    
    @media screen and (min-width: 768px) {
        .modal-dialog {
            width: 700px;
            /* New width for default modal */
        }
        .modal-sm {
            width: 350px;
            /* New width for small modal */
        }
    }
    
    @media screen and (min-width: 992px) {
        .modal-lg {
            width: 950px;
            /* New width for large modal */
        }
    }
    
    .modal-dialog {
        height: 50vh !important;
        display: flex;
    }
    
    .modal-content {
        margin: auto !important;
        height: fit-content !important;
    }