extends ../layout

block content
    .container
        .row
            .col-sm-12.col-xs-12
                .panel.panel-default
                    .panel-body
                        include ./form.jade