.row
    .col-sm-12
        form(action="/products/store", method="post", autocomplete="off")
            .col-sm-6
                .form-group
                    label(for="") Product Name
                    input(type="text", class="form-control", name="product_name", placeholder="Product Name", required)
            .col-sm-6
                .form-group
                    label(for="") Supplier
                    select(type="select", class="form-control", name="supplier_id", placeholder="Age", required)
                        for row in supplier
                            option(value=row.supplier_id) #{row.customer_name}
            .col-sm-12
                .pull-right
                    .form-group
                        input(type="submit", value="Save Employee", class="btn btn-sm btn-primary")
                .pull-left
                    .form-group
                        a(href="/products",class="btn btn-sm btn-warning") Back