extends ../layout
block scripts
    script(src="/ace-master/assets/js/jquery-2.1.4.min.js")
    script.
        var indexFunction = function() {
            $.ajax({
                url: 'products/json',
                type: 'GET',
                dataType: 'JSON',
                success: function(result) {
                    $('#form-product').append().empty();
                    let product = result.product;
                    product.forEach(el => {
                        var html = '<tr id=product'+el.product_id+'>\
                                        <td>'+el.product_id+'</td>\
                                        <td>'+el.product_name+'</td>\
                                        <td>'+el.customer_name+'</td>\
                                        <td>Delete</td>\
                                    </tr>';
                        $('#form-product').append(html);
                    })
                    
                }
            })
        }
        indexFunction();
        var deleteFunction = function(id) {
            if(confirm('Are you sure you want to save this thing into the database?')) {
                $.ajax({
                    url: 'products/delete' + '/' + id,
                    type: 'GET',
                    dataType: 'JSON',
                    success: function(result) {
                        indexFunction();
                        $("#product"+el.product_id).remove();
                    },
                    error: function(error) {
                        console.log(error);
                    }
                })
            }
        }
block content
    title Product
    .row
        .col-sm-12.col-xs-12
            .panel.panel-default
                .panel-body
                    .pull-left
                        .panel-header Management Product
                    .pull-right
                        a(href="/products/create", class="btn btn-sm btn-primary") Add Products
                    br
                    table.table.table-bordered.table-stripped(style="table-layout: auto; width: 100%; margin-top; 10px;")
                        thead
                            tr
                                th product code
                                th Product Name
                                th Supplier
                                th(width="5%") Action
                        tbody(style="display:table;")
                            #form-product
                        //- for row in product
                        //-     tr(id="product"+row.product_id)
                        //-         td(class="code")
                        //-         td(class="product-name")
                        //-         td(class="customer-name")
                        //-         td
                        //-             .btn-toolbar(style="text-align: center;")
                        //-                 a(href="/products/show/"+row.product_id) 
                        //-                     i.fa.fa-eye
                        //-                 a(href="#") 
                        //-                     i.fa.fa-pencil(style="color: green")
                        //-                 a(href="#", onclick='deleteFunction("' + row.product_id + '");')
                        //-                     i.fa.fa-trash(style="color: red")
