extends ../layout

block content
    .row
        .col-sm-12.col-xs-12
            .panel.panel-default
                .panel-body
                    .row
                        .col-sm-12
                            .profile-user-info
                                .profile-info-row
                                    .profile-info-name Product Code
                                    .profile-info-value #{product.product_id}
                                .profile-info-row
                                    .profile-info-name Product Code
                                    .profile-info-value #{product.product_name}
                                .profile-info-row
                                    .profile-info-name Product Code
                                    .profile-info-value #{product.customer_name}
            .pull-right
                .form-group
                    a(href="/products", class="btn btn-sm btn-warning") Back