extends ../layout
block content
       .container
             p  #{title}
                .row
                    .col-sm-12
                        .row
                            .col-sm-12.col-xs-12
                                .panel-heading Forms Create Authors
                                    .panel.panel-default
                                        .panel-body
                                            .row
                                                .col-sm-12
                                                    form(action="/authors/store" method="POST")
                                                        input(type="text", id="author_name", class="form-control", name="name_author", placeholder="Name Authors", required)
                                                        br
                                                        .row.col-sm-12
                                                            .pull-right
                                                                input(type="submit", class="btn btn-sm btn-primary", value="Submit Author", style="margin-bottom: 10px;")
                                                        .row.col-sm-12
                                                            .pull-right
                                                                a(type="button", href="/authors", class="btn btn-sm btn-info", value="Back") Back Author

        