extends ../layout
block content
    .panel.panel-default
        .panel-body
            .row
                .col-sm-12
                    .pull-right
                        p  #{title}
                        .row
                            .col-md-12
                                a(href="/authors/create", class="btn btn-sm btn-primary pull-right") Add Authors
                    .pull-left
                        p Result is: #{obj.price * obj.qty}.
                        .row(style="margin-top:10px;")
                            .col-md-12
    .panel.panel-default
        .panel-body
            .row
                .col-sm-12
                    table.table.table-bordered.table-stripped
                        thead
                            tr
                                th ID
                                th Name Author
                                th Created
                                th Updated
                                th(colspan="3", width="5%;") Action
                        tbody
                        for author in authors
                            tr
                                td=author.id
                                td=author.name
                                td=author.created_at
                                td=author.updated_at
                                td 
                                    a(href="/authors/"+author.id, class="btn btn-sm btn-info") show
                                td
                                    a(href="/authors/edit/"+author.id, class="btn btn-sm btn-success") update    
                                td
                                    a(href="/authors/delete/"+author.id, class="btn btn-sm btn-danger") delete
                                        