extends ../layout

block content
    .row
        .col-sm-12.col-xs-12
            .panel.panel-info
                .panel-body
                    .row
                       .col-sm-12
                        .pull-right
                            a(href="/authors" ,class="btn btn-sm btn-info") Back Authors
                        h1=authors.name
                        ul.list-group
                            li.list-group-item
                                h5=authors.id
                            li.list-group-item
                                h5=authors.name